// Font ve renk değişkenleri
$font-main: "Mulish", sans-serif;
$color-primary: #111111;
$color-secondary: #4A4FF2;
$border-color: #D8D8D8;
$bg-white: #ffffff;

body {
    font-family: $font-main;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.contact_title {
    width: 475px;
    height: 174px;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: $color-primary;
    margin-bottom: 20px;
}

.contact_info {
    width: 445px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $color-primary;
    opacity: 0.8;
}

.form_info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 60px;
    margin-top: 60px;
}

.general {
    width: 400px;
}

form {
    font-family: $font-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: $color-primary;

    label {
        display: block;
        margin-bottom: 8px;
    }

    input, textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        background-color: $bg-white;
        border: none;
        border-bottom: 1px solid $border-color;
    }

    button {
        width: 122px;
        height: 56px;
        background-color: $color-secondary;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FFFFFF;
        border: none;
    }
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    nav {
        display: flex;
        align-items: center;
    }

    .ul-top {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-left: 20px;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    .logo {
        height: 20px;
        width: auto;
        display: flex;
    }

    .right-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        right: 20px;
        bottom: 20px;
    }

    .sm_footer_container {
        display: flex;
        gap: 10px;
        margin-left: 20px;

        a img {
            height: 20px;
            width: auto;
        }
    }
}
