body{
     font-family: "Mulish", sans-serif;
 }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
nav {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500 ;
}

.project_title{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 475px;
    height: 110px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    color: #111111;
    padding: 30px;
 
 }
 .container {
    display: flex; 
    justify-content: center; 
    gap: 100px; 
}
 
.project_info{
     width: 635px;
     height: 222px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     color: #111111;
     mix-blend-mode: normal;
     opacity: 0.8;
     padding: 30px;
 
 }
 
 .project-award-info {
     display: flex;
     flex-direction: column; 
     max-width: 335px;   
     max-height: 343px; 
     margin: 20px;    
 }
 
 .info-row {
     display: flex;          
      
     padding: 10px 0;    
     border-bottom: 1px solid #D8D8D8; 
 }
 
 .label {
     font-weight: bold;
     color: #555;
     width: 150px; 
     font-weight: 700;
     font-size: 18px;
     line-height: 23px;
     color: #111111;
     mix-blend-mode: normal;
     opacity: 0.5;
 
 }
 
 .value {
     font-weight: 700;
     color:#111111;
     font-weight: 400;
     font-size: 18px;
     line-height: 23px;
     text-align: left ;
 }
 
 .image1 {
     display: flex;
     justify-content: center;  
     align-items: center;    
     width: 100%;       
     height: 100vh;          
 }

 .image-info p {
    display: flex;
    justify-content: center;
    max-width: 1109px;
    max-height: 93px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #111111;
    margin-left: 600px;
 }
 
 .image-gallery {
     display: flex;
     justify-content: center; 
     align-items: center; 
     width: 100%;
     padding: 20px 0; 
 }
 
 .image {
     margin: 0 5px; 
 }
 footer {
    padding: 20px;
    display: flex;
    gap: 1500px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
footer nav {
    display: flex;
    align-items: center;
}
    
footer .ul-top {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
    
footer .ul-top li {
    margin-left: 20px;
}
    
footer .ul-top li a {
    text-decoration: none;
    color: black;
} 
footer .logo {
    height: 20px;
    width: auto;
    display: flex;
}
    
.right-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    right: 20px;
    bottom: 20px;
}
    
.sm_footer_container {
    display: flex;
    gap: 10px; 
    margin-left: 20px;
}
    
.sm_footer_container a img {
    height: 20px; 
    width: auto;
}